/****** Work sans google font start******/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
/****** Work sans google font end******/
/****** Default css start ******/
* {
  font-family: "Work Sans", sans-serif;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
/****** Default css end ******/
/****** Common css start ******/
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  border: 0;
}
.primary-description {
  color: #727272;
  font-size: 1rem;
}
/****** Common css end ******/
/****** Header css start ******/
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* Banner Styles */
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-titile {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}
/* Banner Styles */
/****** Header css end ******/
/****** Teams css start ******/
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding: 0 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/****** Teams css end ******/
